/* =====================
   Typography and Colors
   ===================== */

/*!* ============ Fonts ===============*/

/* Global Settings */
* {
    font-family: 'Raleway', sans-serif;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
}

.large-bold {
    font-size: 18px;
    font-weight: 700;
}

.medium-regular {
    font-size: 16px;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
}



/* Accommodations and Trending */

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 600;
}

/*!* ============ Colors ==============*/

:root {
    --blue: #0065FC;
    --lightgrey: #F2F2F2;
    --paleblue: #DEEBFF;
    --grey: #D9D9D9;
}

.fa-solid {
    color: var(--blue);
}

.neutral-star {
    color: var(--lightgrey);
}

.card {
    background-color: white;
}

.accommodation-and-trending section {
    background-color: var(--lightgrey);
}

nav li a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

/* =====================
           Layout
   ===================== */

/* Global Settings */
body {
    display: flex;
    justify-content: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items:start;
    align-self: stretch;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

/* Accommodations and Trending */
.accommodation-and-trending {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }

/* Accommodations */
.accommodation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.accommodation-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    align-self: stretch;
}

.accommodation .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.accommodation .card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.accommodation .card img {
    align-self: stretch;
}

.accommodation .card-txt .card-rating {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

/* Trending */

.trending {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.trending-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.trending-cards {
    display: flex;
    flex-direction: column;
}

.trending-cards .card {
    display: flex;
    align-items: stretch;
}

.trending .card img {
    align-self: stretch;
}

.trending-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trending-cards .card-txt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

/* footer */

/*footer {*/
/*    display: grid;*/
/*    grid-template-columns: repeat(3, 1fr); !* 3 columns of equal width *!*/
/*    align-self: stretch;*/
/*}*/

/* ======================
   Dimensions and Spacing
   ====================== */

/* Global Settings */

body {
    margin-top: 2px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
    gap: 30px;
}

main {
    padding: 0 50px;
    gap: 35px;
}

.section-title {
    margin: 0;
}

.card {
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

/* Header */
header .logo {
    padding: 30px 50px;
    gap: 10px;
}

header .logo img {
    width: 61px;
    height: 19px;
}

nav {
    padding: 0 25px;
}

nav ul {
    width: 329px;
    margin: 0; /* remove default margin */
    padding-left: 0; /* remove 40px default padding that comes with bullets on ul */
}

nav ul li {
    padding-top: 20px;
    margin: 0;
}

nav li a {
    padding-top: 20px;
}

/* Accommodations and Trending */
.accommodation-and-trending {
    gap: 40px;
}

.accommodation-and-trending section {
    border-radius: 15px;
    box-sizing: border-box;
    padding: 30px;
    gap: 30px;
}

/* Accommodations */
.accommodation {
    width: 65%;

    padding: 30px;
    gap: 30px;
}

.accommodation-grid {
    grid-gap: 30px;
}

.accommodation .card {
    border-radius: 20px;
    gap: 4px;
    padding-bottom: 15px;
}

.accommodation .card img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    box-sizing: border-box;
}

.accommodation .card-content {
    padding: 0 15px;
    gap: 8px;
}

/* Trending */
.trending {
    width: 32%;

    padding: 30px;
    gap: 30px;
}

.trending-cards {
    gap: 30px;
}

.trending-cards .card {
    padding: 5px;
}

.trending .card img, .trending .card-content {
    height: 144px;
}

.trending-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.trending-cards .card-content {
    width: 67%;
    box-sizing: border-box;

    padding: 10px 5px 5px 15px;
}

.trending-cards .card-txt {
    gap: 5px;
}

.trending-cards .card-title, .trending-cards .card-subtitle {
    margin: 0;
}



/* ======================
   Images and Media
   ====================== */

.card img {
    object-fit: cover;
}


/*!* ======================================================================================= DEVELOPMENT MODE START === *!*/

/*body{*/
/*    border: 5px solid black;*/
/*}*/

/*.main-container {*/
/*    border: 5px solid olivedrab;*/
/*}*/

/*header {*/
/*    border: 5px solid pink;*/
/*}*/

/*main {*/
/*    border: 5px solid blue;*/
/*}*/


/*.logo {*/
/*    border: 2px solid green;*/
/*}*/

/*nav {*/
/*    border: 2px solid purple;*/
/*}*/

/*nav ul {*/
/*    border: 2px solid yellow;*/
/*}*/

/*nav li {*/
/*    border: 2px solid red;*/
/*}*/

/*nav li a {*/
/*    border: 2px solid turquoise;*/
/*}*/

/*.accommodation-and-trending {*/
/*    border: 5px solid red;*/
/*}*/

/*.accommodation {*/
/*    border: 5px solid blue;*/
/*}*/

/*.trending {*/
/*    border: 5px solid green;*/
/*}*/

/*.accommodation-title, .trending-title {*/
/*    border: 5px solid purple;*/
/*}*/

/*.accommodation-grid {*/
/*    border: 5px solid yellow;*/
/*}*/

/*.trending-cards {*/
/*    border: 5px solid orange;*/
/*}*/

/*.card {*/
/*    border: 5px solid black;*/
/*}*/

/*.card-txt{*/
/*    border: 5px solid purple;*/
/*}*/

/*.card-content {*/
/*    border: 5px solid hotpink;*/
/*}*/

/*.card-title, .card-subtitle {*/
/*    border: 2px solid pink;*/
/*}*/

/*.card-rating {*/
/*    border: 5px solid turquoise;*/
/*}*/

/*.accommodation a {*/
/*    border: 5px solid brown;*/
/*}*/




/*!* ========================================================================================= DEVELOPMENT MODE END === *!*/


/* =============
   Media Queries
   ============= */

/*!* ---- Large Devices (more/equal than 1900px) ---- *!*/
@media (min-width: 1900px) {

    /* Header */
    .main-container {
        padding: 0 230px;
    }

    nav {
        padding: 0 50px;
    }
}
/*!* ---- Medium Devices (less/equal than 1024px) ---- *!*/
@media (max-width: 1024px) {

    /* Header */

    nav {
        padding: 0 50px;
    }

    /* Accommodation and Trending on Medium Devices */
    .accommodation-and-trending {
        flex-direction: column;
        gap: 50px;
    }

    .accommodation {
        width: 100%;
    }

    .trending {
        width: 100%;
        gap: 20px;
    }

    .trending-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
    }

    .trending-cards .card {
        width: 30%;
    }

    .trending-cards .card-title {
        font-size: 14px;
    }

    .trending-cards .card-subtitle {
        font-size: 13px;
    }
}


/*!* ---- Small Devices (less/equal than 768px) ---- *!*/
@media (max-width: 768px) {
    /*!* Global Settings on small devices *!*/
    main {
        padding: 0;
    }

    /* Header */

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav {
        padding: 0;
        width: 100%;
    }

    nav ul {
        display: flex;
        align-items: center;

        width: 100%;
        margin: 0; /* remove default margin */
        padding-left: 0; /* remove 40px default padding that comes with bullets on ul */
    }

    nav ul li {
        flex-basis: 50%;
        padding-top: 0;
        margin: 0;
        text-align: center;
    }

    nav li a {
        display: block;
        box-sizing: border-box;

        width: 100%;
        padding-top: 0;
        padding-bottom: 15px;
    }

    nav li a:hover {
        color: var(--blue);
        border-bottom: 2px solid var(--blue);
        border-top: none;
    }





    /*!* Accommodation and Trending on Small Devices *!*/

    /* Trending section above Accommodation section on mobile  */
    .accommodation-and-trending {
        flex-direction: column-reverse;
        gap: 15px;
    }

    /* Remove sections border-radius on mobile */
    .accommodation-and-trending section {
        display: flex;

        border-radius: 0;
        gap: 15px;
    }

    /* White background on mobile*/
    .accommodation-and-trending .accommodation {
        background-color: #FFFFFF;
    }

    /* Reduce padding and gap on mobile */
    .accommodation {
        padding: 20px;
    }

    /* Reduce gap and columns to 1 on mobile */
    .accommodation-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }


    /* Modify section layout in column on mobile */
    .trending {
        display: flex;
        flex-direction: column;
        align-self: stretch;

        padding: 30px 20px;
        gap: 15px;
    }

    /* Card layout in column on mobile  */
    .trending-cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px;
    }

    /* Card layout across the entire available width on mobile */
    .trending-cards .card {
        width: 100%;
    }
}


