/*
=================================================
TABLE OF CONTENTS
-------------------------------------------------
1.0 Typography
    1.1 Colors
    1.2 Fonts

2.0 Global Settings
    2.1 Body, main-container and main tag
    2.2 Cards
    2.3 Bullets and Links

3.0 Header
    3.1 Logo
    3.2 Navigation

4.0 Info-group
    4.1 Headline
    4.2 Search-bar
    4.3 Filter-bar
    4.4 Info-bar

5.0 Accommodations and Trending
    5.1 Accommodations
    5.2 Trending

6.0 Activities

7.0 Footer

8.0 Media Queries
    8.1 Breakpoints
    8.2 Media Queries
        8.2.1 Large Devices (more than 1900px)
        8.2.2 Medium Devices (less/equal than 1024px)
        8.2.3 Small Devices (less/equal than 768px)
=================================================
*/


/* ==============================================
   1.0 TYPOGRAPHY
   ============================================== */

/*
1.1 Colors
*/

/* variables */
:root {
    --blue: #0065FC;
    --lightgrey: #F2F2F2;
    --paleblue: #DEEBFF;
    --grey: #D9D9D9;
}

/* fontawesome icons */
.fa-solid {
    color: var(--blue);
}

/* info-group - search-bar */
.search-bar form label i {
    color: black;
}

.search-bar form input::placeholder {
    color: black;
    opacity: 1; /* Firefox */
}

#search-text, #search-icon {
    color: white;
}

/* accommodation and trending section */
.neutral-star {
    color: var(--lightgrey);
}

/* footer */
footer {
    background-color: var(--lightgrey);
}

/*
1.2 Fonts
*/

* {
    font-family: 'Raleway', sans-serif;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
}

.large-bold {
    font-size: 18px;
    font-weight: 700;
}

.medium-regular {
    font-size: 16px;
    font-weight: 400;
}

/* info-group */
.filter span {
    font-size: 17px;
    font-weight: 700;
}

/* accommodation, trending & activities */
.card-title {
    font-size: 16px;
    font-weight: 700;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 600;
}

/* ==============================================
   2.0 GLOBAL SETTINGS
   ============================================== */

/*
2.1 Body, main-container and main tag
 */
body {
    /* layout */
    display: flex;
    justify-content: center;
    /* dimensions and spacing */
    margin-top: 2px;
}

.main-container {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* dimensions and spacing */
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    box-sizing: border-box;
    gap: 30px;
}

main {
    /* layout */
    display: flex;
    flex-direction: column;
    /* dimensions and spacing */
    padding: 0 50px;
    gap: 35px;
}

.section-title, .card-title, figure, p, h2 {
    margin: 0;
}

/*
2.2 Cards
*/
.card {
    /* colors */
    background-color: white;
    /* dimensions and spacing */
    box-sizing: border-box;
    /* borders and background */
    border-radius: 20px;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

/*
2.3 Bullets and Links
*/
ul {
    list-style-type: none;
    margin: 0; /* remove default margin */
    padding-left: 0; /* remove 40px default padding that comes with ul bullets */
}

a {
    text-decoration: none;
    color: black;
}

/* ==============================================
    3.0 HEADER
    ============================================== */

header {
    /* Layout */
    display: flex;
    justify-content: space-between;
    align-items:start;
    align-self: stretch;
}

/*
3.1 Logo
*/
header .logo {
    padding: 30px 50px;
    gap: 10px;
}

header .logo img {
    width: 61px;
    height: 19px;
}

/*
3.2 Navigation
*/
nav {
    padding: 0 25px;
}

nav ul {
    /* Layout */
    display: flex;
    justify-content: space-between;
    /* dimensions and spacing */
    gap: 68px;
}

nav ul li {
    /* dimensions and spacing */
    padding-top: 20px;
    margin: 0;
}

nav li a {
    /* dimensions and spacing */
    padding-top: 20px;
}

nav li a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

/* ==============================================
    4.0 INFO-GROUP
    ============================================== */

.info-group {
    /* layout */
    display: flex;
    flex-direction: column;
    /* dimensions and spacing */
    gap: 35px;
}

/*
4.1 Headline
 */
.headline {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /* dimensions and spacing */
    gap: 8px;
}

/*
4.2 Search-bar
 */
.search-bar form {
    /* layout */
    display: inline-flex;
    align-items: center;
    /* dimensions and spacing */
    gap: 24px;
    /* borders and background */
    border: 1px solid var(--lightgrey);
    border-radius: 15px;
}

.search-bar form label {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    /* dimensions and spacing */
    width: 50px;
    height: 49px;
    /* borders and background */
    border-radius: 15px 0 0 15px;
    background-color: var(--lightgrey);
}

.search-bar form input {
    border-style: none;
}

.search-bar form input:focus {
    outline: none;
}

.search-bar form button {
    /* layout */
    display: flex;
    align-items: center;
    /* dimensions and spacing */
    height: 49px;
    padding: 15px 16px;
    gap: 10px;
    /* borders and background */
    border: 1px solid var(--blue, #0065FC);
    border-radius: 0 15px 15px 0;
    background: var(--blue, #0065FC);
}

#search-text {
    display:inline;
 }

 #search-icon {
    display:none;
 }

 /*
    4.3 Filter-bar
 */
.filter-bar {
     /* layout */
     display: flex;
     align-items: center;
     /* dimensions and spacing */
     gap: 15px;
}

.filters {
     /* layout */
     display: inline-flex;
     /* dimensions and spacing */
     gap: 15px;
}

.filter {
    /* layout */
    display: flex;
    align-items: center;
    /* dimensions and spacing */
    height: 50px;
    padding: 4px 19px;
    gap: 10px;
    /* borders and background */
    border: 2px solid var(--grey);
    border-radius: 50px;
    background-color: white;
}

.filter:hover {
    background-color: var(--paleblue);
}

/*
4.4 Info-bar
*/

.info-bar {
    /* layout */
    display: flex;
    align-items: center;
    /* dimensions and spacing */
    gap: 10px;
}

.info-bar i {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
    /* dimensions and spacing */
    min-width: 24px;
    min-height: 24px;
    /* borders and background */
    border: 1px solid var(--grey);
    border-radius: 50%;
}

/* ==============================================
    5.0 ACCOMMODATIONS AND TRENDING
    ============================================== */

.accommodation-and-trending {
    /* layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* dimensions and spacing */
    gap: 40px;
}

.accommodation-and-trending section {
    /* dimensions and spacing */
    gap: 30px;
    box-sizing: border-box;
    /* borders and background */
    border-radius: 15px;
    background-color: var(--lightgrey);
}

/*
5.1 Accommodations
 */
.accommodation {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /* dimensions and spacing */
    width: 65%;
    padding: 30px;
    gap: 30px;
}

.accommodation-grid {
    /* layout */
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns of equal width */
    align-self: stretch;
    /* dimensions and spacing */
    grid-gap: 30px;
}

.accommodation .card {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accommodation .card a {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* dimensions and spacing */
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
    gap: 4px;
    /* borders and background */
    border-radius: 20px;
    box-sizing: border-box;
}

.accommodation .card img {
    /* layout */
    align-self: stretch;
    /* dimensions and spacing */
    width: 100%;
    height: 124px;
    box-sizing: border-box;
    /* borders and background */
    border: 5px solid white;
    border-radius: 20px 20px 0 0;
}

.accommodation .card-content {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    /* dimensions and spacing */
    padding: 0 15px;
    gap: 8px;
}

/*
5.2 Trending
*/
.trending {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /* dimensions and spacing */
    width: 32%;
    padding: 30px;
    gap: 30px;
}

.trending-title {
    /* layout */
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.trending-cards {
    /* layout */
    display: flex;
    flex-direction: column;
    /* dimensions and spacing */
    gap: 30px;

}

.trending-cards .card {
    /* layout */
    display: flex;
    align-items: stretch;
    /* dimensions and spacing */
    padding: 5px;

}

.trending-cards img {
    /* layout */
    align-self: stretch;
    /* dimensions and spacing */
    width: 33%;
    height: 144px;
    /* borders and background */
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.trending-cards .card-content {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* dimensions and spacing */
    width: 67%;
    height: 144px;
    padding: 10px 5px 5px 15px;
    box-sizing: border-box;
}

.trending-cards .card-txt {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /* dimensions and spacing */
    gap: 5px;
}

.trending-cards .card-title, .trending-cards .card-subtitle {
    margin: 0;
}

/* ==============================================
    6.0 ACTIVITIES
    ============================================== */

.activities {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    /* dimensions and spacing */
    padding: 30px;
    gap: 30px;
}

.activities-cards {
    /* layout */
    display: flex;
    align-items: flex-start;
    /* dimensions and spacing */
    gap: 30px;
}

.activities a  {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    /* dimensions and spacing */
    width: 25%;
}

.activities a .card {
    /* dimensions and spacing */
    width: 100%;
    height: 100%;
}

.activities .card img {
    /* dimensions and spacing */
    width: 100%;
    height: 380px;
    box-sizing: border-box;
    /* borders and background */
    border-radius: 20px 20px 0 0;
}

.activities .card figcaption {
    /* layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-self: stretch;
    /* dimensions and spacing */
    padding: 20px 19px;;
}

/* ==============================================
    7.0 FOOTER
    ============================================== */

footer {
    /* layout */
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    box-sizing: border-box;
    /* dimensions and spacing */
    width: 100%;
    gap: 30px;
}

footer div {
    /* layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* dimensions and spacing */
    width: 30%;
    padding: 20px;
}

footer ul li {
    margin-top: 15px;
}

/* ==============================================
    8.0 MEDIA QUERIES
    ============================================== */

/*!* ---- Large Devices (more than 1900px) ---- *!*/
@media (min-width: 1900px) {
    .main-container {
        padding: 0 80px; /* instead of the 230px initially specified in the mockup */
    }

    main {
        padding: 0 50px;
        gap: 35px;
    }

    nav {
        padding: 0 50px;
    }
}

/*!* ---- Medium Devices (less/equal than 1024px) ---- *!*/
@media (max-width: 1024px) {
    /* header on medium devices */
    nav {
        padding: 0 50px;
    }

    /* info-group on medium devices */
    .filter-bar {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .filters {
        display: inline-flex;
        flex-direction: row;
    }

    .filter span {
        font-size: 16px;
        font-weight: 700;
    }

    /* accommodation and trending on medium devices */
    .accommodation-and-trending {
        flex-direction: column;
        gap: 50px;
    }

    .accommodation {
        width: 100%;
    }

    .trending {
        width: 100%;
        gap: 20px;
    }

    .trending-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: stretch;
    }

    .trending-cards .card {
        width: 30%;
    }

    .trending-cards .card-title {
        font-size: 14px;
    }

    .trending-cards .card-subtitle {
        font-size: 13px;
    }

    /* activities on medium devices */
    .activities .card img{
        height: 200px;
    }

    /* center align figcaption titles on medium devices */
    .activities .card figcaption {
        height: 70px;
        padding: 0 19px;
    }

    /* footer on medium devices */
    footer {
        gap: 30px;
    }

    footer div {
        padding: 20px;
    }
}

/*!* ---- Small Devices (less/equal than 768px) ---- *!*/
@media (max-width: 768px) {
    /* global settings on small devices *!*/
    main {
        padding: 0;
    }

    /* header on small devices */
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        padding: 0;
        width: 100%;
    }

    nav ul {
        /* layout */
        display: flex;
        align-items: center;
        /* dimensions and spacing */
        width: 100%;
        margin: 0; /* remove default margin */
        padding-left: 0; /* remove 40px default padding that comes with bullets on ul */
    }

    nav ul li {
        /* layout */
        flex-basis: 50%;
        text-align: center;
        /* dimensions and spacing */
        padding-top: 0;
        margin: 0;
    }

    nav li a {
        /* layout */
        display: block;
        /* dimensions and spacing */
        width: 100%;
        padding-top: 0;
        padding-bottom: 15px;
        box-sizing: border-box;
    }

    nav li a:hover {
        /* colors */
        color: var(--blue);
        /* borders and background */
        border-top: none;
        border-bottom: 2px solid var(--blue);
    }

    /* info-group on small devices */
    .info-group {
        padding: 0 20px;
    }

    .search-bar form {
        gap: 10px;
    }

    .search-bar form button {
        border-radius: 15px 15px 15px 15px;
    }

    #search-text {
        display: none;
    }

    #search-icon {
        display: inline;
    }

    .filters {
        /* layout */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-self: stretch;
        /* dimensions and spacing */
        grid-column-gap: 10px;
        grid-row-gap: 20px;
    }

    .filter span {
        /* fonts*/
        font-size: 14px;
        font-weight: 700;
    }

    /*=== accommodation and trending on small devices ===*/

    .accommodation-and-trending {
        /* layout */
        flex-direction: column-reverse; /* trending section above Accommodation section on mobile  */
        /* dimensions and spacing */
        gap: 15px;
    }

    .accommodation-and-trending section {
        /* layout */
        display: flex;
        /* dimensions and spacing */
        gap: 15px;
        /* borders and background */
        border-radius: 0; /* remove sections border-radius on mobile */
    }

    /* White background on mobile*/
    .accommodation-and-trending .accommodation {
        background-color: #FFFFFF;
    }

    /* Reduce padding on mobile */
    .accommodation {
        padding: 20px;
    }

    /* Reduce gap and columns to 1 on mobile */
    .accommodation-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 15px;
    }

    /* Modify section layout in column on mobile */
    .trending {
        /* layout */
        display: flex;
        flex-direction: column;
        align-self: stretch;
        /* dimensions and spacing */
        padding: 30px 20px;
        gap: 15px;
    }

    /* Card layout in column on mobile  */
    .trending-cards {
        /* layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        /* dimensions and spacing */
        gap: 15px;
    }

    /* Card layout across the entire available width on mobile */
    .trending-cards .card {
        width: 100%;
    }

    /* activities */
    .activities-cards {
        /* layout */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        /* dimensions and spacing */
        gap: 15px;
    }

    .activities a {
        width: 100%;
    }

    .activities .card img{
        height: 141px;
    }

    /*!* footer on mobile *!*/
    footer {
        /* layout */
        flex-direction: column;
        /* dimensions and spacing */
        padding: 30px;
        gap: 50px
    }

    footer div {
        width: 100%;
        padding: 0;
    }
}



